:root {
	--color-silver-chalice: #A3A3A3;
	--filtered-color-mine-shaft: invert(15%) sepia(1%) saturate(3066%) hue-rotate(314deg) brightness(77%) contrast(80%);
	--filtered-color-torch-red: invert(24%) sepia(70%) saturate(3235%) hue-rotate(346deg) brightness(96%) contrast(119%);
}

.cv-form {
	max-width: 976px;
	width: 100%;
	height: max-content;
	min-height: 300px;
	background-color: aliceblue;
}

.cv-form__inner {
	padding: 1.5rem 2rem;
	width: 100%;
}

.cv-form__lbl {
	width: 100%;
	font-size: 32px;
	text-align: left;
	border-bottom: 1px solid black;
	margin: 0 0 1rem 0;
}

.cv-form__inner>fieldset {
	margin: 2.5rem 0;
	border: none;
}

.cv-form__c-field {
	display: flex;
	flex-direction: column;
}

.cv-form__c-field>label {
	display: block;
	text-align: left;
	font-size: 18px;
}

.cv-form__input-collections {
	display: grid;
	position: relative;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem 2rem;
	justify-content: flex-start;
	padding: 1.8rem 1.5rem;
}

.cv-form__rmv-fieldset {
	position: absolute;
	background-color: transparent;
	border: none;
	height: min-content;
	width: min-content;
	right: 0;
	top: 0;
}

.cv-form__rmv-fieldset>img {
	filter: var(--filtered-color-mine-shaft);
}

.cv-form__rmv-fieldset:hover>img {
	filter: var(--filtered-color-torch-red);
}

.cv-form__add-fieldset {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 15px;
	border: 1px solid var(--color-silver-chalice);
	border-radius: 15px;
	padding: 8px 10px;
	margin: 0.5rem 1.5rem;
	background-color: #fff;
}

.cv-form__add-fieldset>img {
	width: 20px;
	height: 20px;
}

.cv-form__add-fieldset:hover {
	border: 1px solid #010;
}

.cv-form__options {
	display: flex;
	float: right;
	margin: 3rem 1rem;
}

.cv-form__options>button {
	padding: 8px 16px;
	margin: 0 0 0 20px;
	font-size: 16px;
	border: 1px solid var(--color-silver-chalice);
	border-radius: 15px;
}

.cv-form__submit:hover {
	border: 1px solid #000;
}

.cv-form__reset {
	background-color: red;
	color: #fff;
}

.cv-form__reset:hover{
	border: 1px solid #fff;
}